*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%; //converter o tamanho da font para 15 px
    }
}

@media (max-width: 720px){
    html{
        font-size: 87.5%; //converter o tamanho da font para 14 px
    }
}

body{
    background: #1d1d1d;
    color: #fff;
}

body, input, textarea, select, button{
    font: 400 1rem sans-serif;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}